{% extends "base.htm" %}

{% block body %}
    <div class="flexbox-container-column">
        <div class="margin-bottom-25px"><img src="/static/img/main-logo.png" alt="przepychanki"></div>
        <h1 class="font-36px">Imiona graczy</h1>
        <p class="margin-bottom-25px">(podaj 2-5 imion, tyle ile ma być graczy)</p>
        <form method="post" class="flexbox-container-column">
            <label>
                Imię gracza <span class="player-color-niebieski">pierwszego</span><br>
                <input type="text" name="names">
            </label><br>
            <label>
                Imię gracza <span class="player-color-żółty">drugiego</span><br>
                <input type="text" name="names">
            </label><br>
            <label>
                Imię gracza <span class="player-color-czerwony">trzeciego</span><br>
                <input type="text" name="names" value="">
            </label><br>
            <label>
                Imię gracza <span class="player-color-zielony">czwartego</span><br>
                <input type="text" name="names" value="">
            </label><br>
            <label>
                Imię gracza <span class="player-color-brązowy">piątego</span><br>
                <input type="text" name="names" value="">
            </label><br>

            <button type="submit">Rozpocznij</button>
        </form>
    </div>
{% endblock %}