{% extends "base.htm" %}

{% block body %}
    <form method="post">
        <label>
            Imię gracza pierwszego:
            <input name="names" value="Kamil">
        </label><br>
        <label>
            Imię gracza drugiego:
            <input type="text" name="names" value="Klara">
        </label><br>
        <label>
            Imię gracza trzeciego:
            <input type="text" name="names" value="">
        </label><br>
        <label>
            Imię gracza czwartego:
            <input type="text" name="names" value="">
        </label><br>
        <label>
            Imię gracza piątego:
            <input type="text" name="names" value="">
        </label><br>

        <input type="submit" value="Rozpocznij grę"/>
    </form>
{% endblock %}