{% extends "base.htm" %}


{% block body %}
    <h1>Wyciąganie pionków</h1>
    <h2>Gracz</h2>
    <table border=1>
        <tr>
            <th>{{ player.color }}: {{ player.name }}</th>
        </tr>
        <tr>
            <td>Pionki w ręce: {{ player.pawns|length }}</td>
        </tr>
        <tr>
            {% for card in player.jostling_hand %}
                <td>{{ card.name }}</td>
            {% endfor %}
        </tr>
        <tr>
            <td>
                <form method="post">
                    <button type="submit" name="do_pass" value="yes">Spasuj</button>
                </form>
            </td>
        </tr>
    </table><br>
    <h2>Sklepy</h2>
    {% for shop_key, shop_value in game.board.shops.items() %}
        <form method="post">
            <table border=1>
                <tr>
                    <th>{{ shop_value.name }}{% if shop_value.is_open == False %}
                        <span style="color: red"> (remanent)</span>{% endif %}</th>
                </tr>
                <tr>
                    <th>Towary</th>
                    {% for good in shop_value.available_goods %}
                        <td><strong>{{ good.name }}</strong>, {{ good.description }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <th>Kolejka</th>
                    {% for pawn in shop_value.queue %}
                        {% if pawn.color == player.color %}
                        <td>
                            <input type="hidden" name="shop_name" value="{{ shop_value.name }}">
                            <button type="submit" name="pawn_id" value={{ pawn.pawn_id }}>{{ pawn.pawn_id }}</button>
                        </td>
                        {% else %}
                        <td>{{ pawn.pawn_id }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
                <tr>
                    <th>Pozostałe towary:</th>
                    <td>{{ game.board.count_by_shop_type(shop_value.name) }}</td>
                </tr>

            </table>
        </form><br>
    {% endfor %}

    <table border="1">
        <tr>
            <th colspan="100%">Bazar</th>
        </tr>
        {% for shop_name,shop_items in game.board.bazaar.available_goods.items() %}
            <tr {% if shop_name == game.board.bazaar.sale_category %} class="yellow-background"{% endif %}>
                <th>{{ shop_name }}</th>

                {% for good in shop_items %}
                    <td><strong>{{ good.name }}</strong>, {{ good.description }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        <tr>
            <th>Kolejka</th>
            <td colspan="100%">{{ game.board.bazaar.queue }}</td>
        </tr>
    </table>
    {% for player in game.players %}
        <br>
        <table border="1">
            <tr>
                <th colspan="100%">Lista zakupów gracza {{ player.name }}</th>
            </tr>
            <tr>
                <td colspan="100%"><strong>{{ player.shopping_list.shopping_list_number }}
                    - {{ player.shopping_list.shopping_list_name }}</strong></td>
            </tr>
            {% for category, amount in player.shopping_list.needed_items.items()|sort(attribute='1', reverse=True) %}
                {% if amount != 0 %}
                    <tr>
                        <td><strong>{{ category }}</strong></td>
                        <td>{{ amount }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    {% endfor %}
{% endblock %}