{% extends "base.htm" %}

{% block body %}

    <h1>Otwarcie sklepów</h1>
    <p>Dzień: {{ game.board.current_day }}</p>
    <p>Gracz {{ player.name }} ({{ player.color }}) wybiera towar ze sklepu {{ shop.name }}</p>
    {% for shop_key, shop_value in game.board.shops.items() %}
        {% if shop_value.name == shop.name %}
            <form method="post">
                <table border=1>
                    <tr>
                        <th class="red-text">{{ shop_value.name }}</th>
                    </tr>
                    <tr>
                        <th>Towary</th>
                        {% for good in shop_value.available_goods %}
                            <input type="hidden" name="player" value="{{ player }}">
                            <input type="hidden" name="shop_name" value="{{ shop_value.name }}">
                            <td>
                                <button type="submit" name="good_name" value="{{ good.name }}">{{ good.name }}</button>
                                , {{ good.description }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Kolejka</th>
                        <td colspan="100%">{{ shop_value.queue }}</td>
                    </tr>
                    <tr>
                        <th>Pozostałe towary:</th>
                        <td>{{ game.board.count_by_shop_type(shop_value.name) }}</td>
                    </tr>

                </table>
            </form>
        {% else %}
            <table border=1>
                <tr>
                    <th>{{ shop_value.name }}{% if shop_value.is_open == False %}
                        <span class="red-text"> (remanent)</span>{% endif %}</th>
                </tr>
                <tr>
                    <th>Towary</th>
                    {% for good in shop_value.available_goods %}
                        <td><strong>{{ good.name }}</strong>, {{ good.description }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <th>Kolejka</th>
                    <td colspan="100%">{{ shop_value.queue }}</td>
                </tr>
                <tr>
                    <th>Pozostałe towary:</th>
                    <td>{{ game.board.count_by_shop_type(shop_value.name) }}</td>
                </tr>

            </table><br>
        {% endif %}
    {% endfor %}

    <table border="1">
        <tr>
            <th colspan="100%">Bazar</th>
        </tr>
        {% for shop_name,shop_items in game.board.bazaar.available_goods.items() %}
            <tr {% if shop_name == game.board.bazaar.sale_category %} class="yellow-background"{% endif %}>
                <th>{{ shop_name }}</th>

                {% for good in shop_items %}
                    <td><strong>{{ good.name }}</strong>, {{ good.description }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        <tr>
            <th>Kolejka</th>
            <td colspan="100%">{{ game.board.bazaar.queue }}</td>
        </tr>
    </table>
    {% for player in game.players %}
        <br>
        <table border="1">
            <tr>
                <th colspan="100%">Lista zakupów gracza {{ player.name }}</th>
            </tr>
            <tr>
                <td colspan="100%"><strong>{{ player.shopping_list.shopping_list_number }}
                    - {{ player.shopping_list.shopping_list_name }}</strong></td>
            </tr>
            {% for category, amount in player.shopping_list.needed_items.items()|sort(attribute='1', reverse=True) %}
                {% if amount != 0 %}
                    <tr>
                        <td><strong>{{ category }}</strong></td>
                        <td>{{ amount }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    {% endfor %}

    {% for player in game.players %}
        <br>
        <table border="1">
            <tr>
                <th colspan="100%">Towary gracza {{ player.name }}</th>
            </tr>
            {% for item in player.equipment %}
                <tr>
                    <td>({{ item.category }}) <strong>{{ item.name }}</strong> - {{ item.description }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endfor %}

{% endblock %}