{% extends "base.htm" %}

{% block body %}
    <h1>Otwarcie bazaru</h1>
    <p>Dzień {{ game.day_count }}: {{ game.board.current_day }}</p>
    <h2>Gracz</h2>

    <form {% if stage == "2b" %} onsubmit="return checkSelected()" {% endif %} method="post">
        <input type="hidden" name="category" value="{{ category }}">
        <table border=1>
            <tr>
                <th>{{ player.color }}: {{ player.name }}</th>
            </tr>
            <tr>
                <th>Twoje towary</th>
            </tr>
            {% if stage == "2a" %}
                <p>Wybierz 1 towar do wymiany</p>
                <tr>
                    {% for item in player.equipment %}
                        <td>

                            <label>
                                <input type="radio" name="item_name" value="{{ item.name }}" required>
                                ({{ item.category }}) <strong>{{ item.name }}</strong>
                            </label>
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>
                        <button type="submit" name="stage" value="2a">Wymień</button>
                    </td>
                </tr>
            {% elif stage == "2b" %}
                <p>Wybierz 2 towary do wymiany</p>
                <tr>
                    {% for item in player.equipment %}
                        <td>
                            <label>
                                <input type="checkbox" name="item_name" value="{{ item.name }}">
                                ({{ item.category }}) <strong>{{ item.name }}</strong>
                            </label>
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>
                        <button type="submit" name="stage" value="2b">Wymień</button>
                    </td>
                </tr>
            {% else %}
                <tr>
                    {% for item in player.equipment %}
                        <td>({{ item.category }}) <strong>{{ item.name }}</strong></td>
                    {% endfor %}
                </tr>
            {% endif %}
        </table>
    </form>
    {% if stage !="1" %}
        <form method="post">
            <button type="submit" name="go_back" value="yes">Wróć</button>
        </form>
    {% else %}
        <form method="post">
            <button type="submit" name="cancel" value="yes">Anuluj wymianę</button>
        </form>
    {% endif %}

    <br>

    {% for shop_key, shop_value in game.board.shops.items() %}
        <table border=1>
            <tr>
                <th>{{ shop_value.name }}{% if shop_value.is_open == False %}
                    <span style="color: red"> (remanent)</span>{% endif %}</th>
            </tr>
            <tr>
                <th>Towary</th>
                {% for good in shop_value.available_goods %}
                    <td><strong>{{ good.name }}</strong>, {{ good.description }}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>Kolejka</th>
                <td colspan="100%">{{ shop_value.queue }}</td>
            </tr>
            <tr>
                <th>Pozostałe towary:</th>
                <td>{{ game.board.count_by_shop_type(shop_value.name) }}</td>
            </tr>

        </table><br>
    {% endfor %}

    <table border="1">
        <tr>
            <th colspan="100%">Bazar</th>
        </tr>
        {% if stage=="1" %}
            <form method="post">
                <input type="hidden" name="stage" value="1">
                {% for shop_name,shop_items in game.board.bazaar.available_goods.items() %}
                    {% if shop_items %}
                        <tr {% if shop_name == game.board.bazaar.sale_category %} class="yellow-background"{% endif %}>
                            <th>
                                <button type="submit" name="shop_name" value="{{ shop_name }}">{{ shop_name }}</button>
                            </th>

                            {% for good in shop_items %}
                                <td><strong>{{ good.name }}</strong>, {{ good.description }}</td>
                            {% endfor %}
                        </tr>
                    {% else %}
                        <tr{% if shop_name == game.board.bazaar.sale_category %} class="yellow-background"{% endif %}>
                            <th>{{ shop_name }}</th>
                        </tr>
                    {% endif %}
                {% endfor %}
            </form>
        {% else %}
            {% for shop_name,shop_items in game.board.bazaar.available_goods.items() %}
                <tr class="{% if category == shop_name %}red-text {% endif %}{% if shop_name == game.board.bazaar.sale_category %} yellow-background{% endif %}"
                    >
                    <th>{{ shop_name }}</th>
                    {% for good in shop_items %}
                        <td><strong>{{ good.name }}</strong>, {{ good.description }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        {% endif %}
        <tr>
            <th>Kolejka</th>
            <td colspan="100%">{{ game.board.bazaar.queue }}</td>
        </tr>
    </table>
    {% for player in game.players %}
        <br>
        <table border="1">
            <tr>
                <th colspan="100%">Lista zakupów gracza {{ player.name }}</th>
            </tr>
            <tr>
                <td colspan="100%"><strong>{{ player.shopping_list.shopping_list_number }}
                    - {{ player.shopping_list.shopping_list_name }}</strong></td>
            </tr>
            {% for category, amount in player.shopping_list.needed_items.items()|sort(attribute='1', reverse=True) %}
                {% if amount != 0 %}
                    <tr>
                        <td><strong>{{ category }}</strong></td>
                        <td>{{ amount }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    {% endfor %}

    {% for player in game.players %}
        <br>
        <table border="1">
            <tr>
                <th colspan="100%">Towary gracza {{ player.name }}</th>
            </tr>
            {% for item in player.equipment %}
                <tr>
                    <td>({{ item.category }}) <strong>{{ item.name }}</strong> - {{ item.description }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endfor %}

{% endblock %}