{% extends "base.htm" %}

{% block body %}
    <div class="flexbox-container-column">
        <div><img src="/static/img/main-logo.png" alt="przepychanki"></div>
        {% if products|length > 1 %}
            <h1 class="margin-bottom-4px">Gratulacje!</h1>
            <p>Wygrali, ex aequo:</p>
                {% for winner in winners %}
                    <p class="margin-bottom-4px"> {{ winner.color }} - {{ winner.name }}</p>
                {% endfor %}

        {% else %}
            <h1 class="margin-bottom-4px">Gratulacje!</h1>
                {% for winner in winners %}
                   <p class="margin-bottom-4px">Wygrał {{ winner.color }} - {{ winner.name }}</p>
                {% endfor %}
        {% endif %}
        <button class="margin-top-12px win-button"><a href="/">Wróć</a></button>
    </div>
{% endblock %}