body{
    margin: 0;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.red-alert{
    margin-top: 0;
    color: white;
    background: darkred;
    width: 100%;
}

.red-text{
    color: red;
}

.yellow-background{
    background-color: yellow;
}