{% extends "base.htm" %}

{% block body %}
    <div class="flexbox-container-column height-90vh">
        <div><a href="/20_kobylarz/przepychanki/"><img class="logo"
                                                       src="/20_kobylarz/przepychanki/static/img/main-logo.png"
                                                       alt="przepychanki"></a></div>
        <ul class="gamemode-ul">
            <li><a href="/20_kobylarz/przepychanki/local/form">Rozgrywka lokalna</a></li>
            <li><a href="/20_kobylarz/przepychanki/multiplayer/rooms">Rozgrywka sieciowa</a></li>
        </ul>
        <ul class="info-ul">
            <li><a href="/20_kobylarz/przepychanki/historia">Historia rozgrywek</a></li>
            <li><a href="/20_kobylarz/przepychanki/zasady">Zasady gry</a></li>
            <li><a href="/20_kobylarz/przepychanki/info">Informacje</a></li>
        </ul>
    </div>
{% endblock %}