{% extends "base.htm" %}

{% block body %}
    <div class="flexbox-container-column height-90vh">
        <div><a href="/"><img class="logo" src="/static/img/main-logo.png" alt="przepychanki"></a></div>
        <ul class="gamemode-ul">
            <li><a href="/local/form">Lokalnie</a></li>
            <li><a href="multiplayer/rooms">Sieciowo</a></li>
        </ul>
        <ul class="info-ul">
            <li><a href="/historia">Historia rozgrywek</a></li>
            <li><a href="/zasady">Zasady gry</a></li>
            <li><a href="/info">Info</a></li>
        </ul>
    </div>
{% endblock %}