{% extends "base.htm" %}

{% block body %}
    <div class="flexbox-container-column">
        <div><a href="/"><img src="/static/img/main-logo.png" alt="przepychanki"></a></div>
        <div class="info-container">
        <p>Autorem niniejszego serwisu jest Kamil Kobylarz.<p>
        <p>Serwis ten stanowi integralną część pracy licencjackiej (kierunek: Elektroniczne Przetwarzanie Informacji), przygotowanej pod kierunkiem dr hab. Janusz Jurek prof. UJ na Wydziale Zarządzania i Komunikacji Społecznej Uniwersytetu Jagiellońskiego.</p>
        </div>
    <button class="margin-top-12px win-button"><a href="/">Wróć</a></button>
    </div>
{% endblock %}