{% extends "base.htm" %}

{% block body %}
    <div class="flexbox-container-column">
        <div><a href="/20_kobylarz/przepychanki/"><img class="logo"
                                                       src="/20_kobylarz/przepychanki/static/img/main-logo.png"
                                                       alt="przepychanki"></a></div>
        <div class="info-container text-align-left">
            <h1>Zasady gry</h1>
            <h2>Cel gry</h2>
            <p>Cel gry
                Celem gry jest zdobycie wszystkich artykułów wymienionych na karcie listy zakupów.
            <div>
                <img src="/20_kobylarz/przepychanki/static/img/inst-list.png" alt="Przykładowa lista zakupów">
                <p>Przykładowe listy</p>
            </div>
            <p>Gracz, który jako pierwszy zdobędzie ostatni artykuł ze swojej listy, wygrywa.
                Warunkiem koniecznym do zwycięstwa będzie umiejętne zagrywanie kart przepychanek kolejkowych.</p>
            <div>
                <img src="/20_kobylarz/przepychanki/static/img/inst-jostling-example.png"
                     alt="Przykładowe karty przepychanek kolejkowych">
                <p>Wygląd kart przepychanek</p>
            </div>
            <h2>Faza 0 - Ustawianie pionków w kolejkach</h2>
            <p>Począwszy od gracza rozpoczynającego, gracze kolejno ustawiają po jednym wolnym pionku na końcu kolejki
                przed wybranym sklepem lub bazarem.
                Gdy gracze ustawią wszystkie swoje pionki w kolejce, rozpoczyna się następna faza. (W pierwszej turze na
                końcu kolejki automatycznie ustawia się czarny pionek, czyli spekulant).</p>
            <div>
                <img src="/20_kobylarz/przepychanki/static/img/inst-phase0.png" alt="Wygląd planszy pod koniec fazy 0">
                <p>Przykładowe rozstawienie pionków na koniec fazy 0</p>
            </div>
            <h2>Faza 1 - przepychanki kolejkowe</h2>
            <p>Na początku tego etapu towar jest rozdzielany między sklepy według kart dostawy. Wybierane są 3 karty z
                talii 15 kart dostawy. Dla każdego z 5 sklepów w talii istnieją karty o wartości: 3, 2 lub 1 towar
                (Talia karty dostawy przeznaczona jest na 1 tydzień gry).</p>
            <div>
                <img src="/20_kobylarz/przepychanki/static/img/inst-delivery.png"
                     alt="Tabelka z informacjami o kartach dostawy dla danego dnia oraz ilością pozostałych towarów">
                <p>Karty dostawy dla danej tury/dnia oraz ilość pozostałych towarów dla sklepów widoczne są w zakładce
                    "Informacje o planszy".</p>
            </div>
            Po dostarczeniu towarów gracze zagrywają karty przepychanek kolejkowych trzymane w ręku. Pierwszy ruch
            należy do gracza rozpoczynającego. W swojej kolejce gracz ma dwie możliwości:
            <ul>
                <li>zagrać jedną z kart trzymanych w ręku,</li>
                <li>spasować, jeżeli nie chce lub nie może zagrać karty trzymanej w ręku. Po spasowaniu nie można więcej
                    zagrywać kart kolejki w tej fazie.
                </li>
            </ul>
            <p>Faza kończy się, gdy wszyscy gracze wykorzystali dostępne karty, bądź spasowali.</p>

            <p><strong>Uwaga!</strong> Zagrane karty kolejki pozostają na planszy aż do końca 5 dnia gry. Zatem tylko
                gracz, który gra oszczędnie będzie miał karty w ostatnim dniu.</p>

            <h3>Działanie kart przepychanek kolejkowych.</h3>
            <p>Działanie danej karty można sprawdzić poprzez najechanie na nią. Poniżej przedstawiamy wszystkie karty
                przepychanek:</p>
            <div>
                <div class="tooltip jost-card jost-card-niebieski">
                    <img alt="Kolega w Komitecie" src="/20_kobylarz/przepychanki/static/img/kolega.png">
                    <span class="tooltiptext"><strong>Kolega w Komitecie</strong><br>sprawdź dwie dostawy zaplanowane na kolejny dzień.</span>
                </div>

                <div class="tooltip jost-card jost-card-niebieski">
                    <img alt="Krytyka władzy" src="/20_kobylarz/przepychanki/static/img/krytyka.png">
                    <span class="tooltiptext"><strong>Krytyka władzy</strong><br>przesuń wybrany pionek o dwa miejsca do tyłu.</span>
                </div>

                <div class="tooltip jost-card jost-card-niebieski">
                    <img alt="Lista społeczna" src="/20_kobylarz/przepychanki/static/img/lista.png">
                    <span class="tooltiptext"><strong>Lista społeczna</strong><br>odwróć kolejkę tył na przód.</span>
                </div>

                <div class="tooltip jost-card jost-card-niebieski">
                    <img alt="Matka z dzieckiem" src="/20_kobylarz/przepychanki/static/img/matka.png">
                    <span class="tooltiptext"><strong>Matka z dzieckiem</strong><br>przesuń swój pionek na pierwsze miejsce kolejki.</span>
                </div>

                <div class="tooltip jost-card jost-card-niebieski">
                    <img alt="Pan tu nie stał" src="/20_kobylarz/przepychanki/static/img/pan.png">
                    <span class="tooltiptext"><strong>Pan tu nie stał</strong><br>przełóż swój pionek o jedno miejsce do przodu.</span>
                </div>

                <div class="tooltip jost-card jost-card-niebieski">
                    <img alt="Pomyłka w dostawie" src="/20_kobylarz/przepychanki/static/img/pomylka.png">
                    <span class="tooltiptext"><strong>Pomyłka w dostawie</strong><br>przełóż wybrany towar do dowolnego sklepu.</span>
                </div>

                <div class="tooltip jost-card jost-card-niebieski">
                    <img alt="Remanent" src="/20_kobylarz/przepychanki/static/img/remanent.png">
                    <span class="tooltiptext"><strong>Remanent</strong><br>zamknij sklep w tej turze (nie działają na niego karty: "Zwiększona dostawa", "Pomyłka w dostawie", "Towar spod lady").</span>
                </div>

                <div class="tooltip jost-card jost-card-niebieski">
                    <img alt="Szczęśliwy traf" src="/20_kobylarz/przepychanki/static/img/szczesliwy.png">
                    <span class="tooltiptext"><strong>Szczęśliwy traf</strong><br>przesuń własny pionek na drugie miejsce do dowolnej kolejki.</span>
                </div>

                <div class="tooltip jost-card jost-card-niebieski">
                    <img alt="Towar spod lady" src="/20_kobylarz/przepychanki/static/img/towar.png">
                    <span class="tooltiptext"><strong>Towar spod lady</strong><br>jeśli jesteś pierwszy w kolejce, natychmiastowo weź towar.</span>
                </div>
                <div class="tooltip jost-card jost-card-niebieski">
                    <img alt="Zwiększona dostawa" src="/20_kobylarz/przepychanki/static/img/zwiekszona.png">
                    <span class="tooltiptext"><strong>Zwiększona dostawa</strong><br>dołóż jeden towar do sklepu.</span>
                </div>
            </div>
            <h2>Faza 2 - otwarcie sklepów</h2>
            <p>Gracze zabierają towary dostępne w otwartych sklepach. Każdy pionek może wybrać tylko jeden artykuł,
                dlatego bardzo istotne jest miejsce zajmowane w kolejce.
                Pionek wraz z zakupionym artykułem opuszcza kolejkę i wraca do ręki gracza.
                Jeżeli jakiś towar został kupiony przez spekulanta, artykuł ten trafia do odpowiedniej kategorii na
                bazarze, a spekulant przesuwa się na koniec kolejki.
                Jeżeli towarów było więcej niż pionków w kolejce, nadwyżkowe artykuły pozostają w sklepie do następnej
                tury.</p>
            <div>
                <img src="/20_kobylarz/przepychanki/static/img/inst-shop-opening.png" alt="Otwarcie sklepu meblowego">
                <p>Gracz niebieski wybiera towar ze sklepu meblowego.</p>
            </div>
            <h2>Faza 3 - otwarcie bazaru</h2>
            <p>Gracze, którzy w fazie zajmowania kolejki ustawili swoje pionki przed wejściem na bazar, mogą teraz
                wymieniać
                posiadane towary na te dostępne na bazarze.
                Towar wymienia się w proporcji 2:1, czyli odkłada się dwa dowolne towary z
                ekwipunku i zabiera się towar wybranej kategorii z bazaru.
                Towary kategorii podświetlonej na żółto, można kupić w okazyjnej cenie 1:1.
                Po zakupach na bazarze pionek wraca do ręki gracza.
                Jeśli gracz rozmyśli się, może anulować wymianę na bazarze — wtedy pionek wraca do jego ręki.
            </p>
            <div>
                <img src="/20_kobylarz/przepychanki/static/img/inst-bazaar-trade.png" alt="Otwarcie bazaru">
                <p>Gracz niebieski wybiera kategorię, z której chce otrzymać przedmiot.</p>
            </div>
            <h2>Faza TPZ</h2>
            <p>Po wcześniejszych fazach, następuje faza TPZ, czyli przejście do kolejnego dnia/tury rozgrywki.
                Wykonywane są następujące czynności:</p>
            <ul>
                <li>zakończenie remanentów,</li>
                <li>kategoria promocyjna bazaru zmienia się na kolejną,</li>
                <li>każdy z graczy otrzymuje karty przepychanek kolejkowych, w ręce nie można mieć więcej niż trzy karty
                    (Jeżeli stos kart danego gracza się wyczerpał, nie dobiera więcej kart),
                </li>
                <li>kolejny w kolejności rozgrywki gracz zostaje graczem rozpoczynającym (<strong>Uwaga!</strong> W
                    trybie
                    sieciowym gracz rozpoczynający nie zmienia się).
                </li>
            </ul>
            <p>Jeśli dzień rozgrywki to piątek, wykonywane są dodatkowe działania rozpoczynające kolejny tydzień
                rozgrywki:</p>
            <ul>
                <li>każdy gracz otrzymuje nowe karty przepychanek kolejkowych,</li>
                <li>talia wyznaczająca dostawy zostaje przywrócona do stanu pierwotnego.</li>
            </ul>
            <h2>Faza wyciągania pionków</h2>
            <p>(Nie występuje w pierwszym dniu rozgrywki)</p>
            <p>Przed rozpoczęciem fazy rozstawiania pionków, każdy z graczy może wyciągnąć dowolną ilość swoich pionków
                z kolejek. </p>

            <h2>Wygrana</h2>
            <p>Gracz, który na koniec dnia uzyskał wszystkie towary ze swojej listy zakupów, wygrywa grę. Jeżeli w tym
                samym momencie kilku graczy zakończyło grę, zostaje ogłoszony remis.</p>
        </div>


        <button class="margin-top-12px margin-bottom-25px win-button"><a href="/20_kobylarz/przepychanki/">Wróć</a>
        </button>
    </div>
{% endblock %}