{% extends "base.htm" %}



{% block body %}

    <div class="flexbox-container-column">
        <div class="margin-bottom-25px"><img src="/static/img/main-logo.png" alt="przepychanki"></div>
        <h1 class="font-36px">Dołączanie do gry sieciowej</h1>
        <p class="margin-bottom-25px">Podaj swoje imię</p>

{#        <form method="post">#}
{##}
{#            <label>#}
{#                Imię gracza: <input type="text " name="names"><br>#}
{#            </label><br>#}
{##}
{#            <button type="submit">Rozpocznij</button>#}
{#        </form>#}

    <form method="post">

        <label>
                Imię gracza: <input type="text" name="names"><br>
            </label><br>
        <input type="hidden" name="room" value="{{ room }}" required>

        <button type="submit">Dołącz do gry</button>
    </form>

    </div>
{% endblock %}