{% extends "base.htm" %}

{% block body %}

    <div class="flexbox-container-column">
        <div class="margin-bottom-25px"><img class="logo" src="/static/img/main-logo.png" alt="przepychanki"></div>
        <h1 class="font-36px">Pokój "{{ game }}"</h1>
        <p class="margin-top-12px margin-bottom-4px">Gracze w pokoju:</p>

        <ul>
            {% for user in game.players %}
                <li>{{ user }}</li>
            {% endfor %}
        </ul>

        {% if game.players|length > 1 %}
            <button class="margin-top-6px"><a href="{{ url_for('start_game') }}" class="text-decoration-none">Rozpocznij grę</a></button>
        {% endif %}

        <script>
reloadPageWithDelay(3000)
        </script>

    </div>
{% endblock %}